body {
    margin: 0px;
    padding: 0px;
}

.container {
            margin: 0px 15%;
    position:relative;
        }
.options {
    margin: 5px 0px;
}
.options ul{
    list-style-type: none;
    margin: 5px;
    padding: 10px 0px;
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    font-family:arial;
    background-color:dimgray;
    overflow: hidden;
}
.options li {
    display: inline;
    margin: auto;
    float: left;
}
.options a {
    display: block;
    color: white;
    
}

.champion-selection {
    width: 24.5%;
    margin: 0.2%;
    position: relative;
    float:left;
    font-family: cursive;
}
.champion-selection img {
    height: 420px;
    width: auto;
    border-radius:5px;
    transition: 0.5s ease;
    margin:3px;
}

.champion-selection :not(img) {
    top: 30%;
    z-index:1;
    color: black;
    text-align:center;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    font-weight:bolder;
    
}
.champion-selection h1 {
    font-size: 40px;
}
.champion-selection h3 {
    top:50%;
}
.champion-selection:hover img{
    filter:blur(2px);
        opacity:0.6;
    box-shadow: 0 0 16px black;
}
.champion-selection:hover :not(img){
    opacity: 1;
}




        #start {
            background-color: white;
            color:black;
            border: 5px solid gold;
            margin: 100px 0px;
            text-align: center;
            font-size: 40px;
        }
#fizz {
    background-color: cornflowerblue;
    border: 6px solid darkblue;
    border-left: 10px solid dimgrey;
    margin-bottom: 30px;
    text-align:center;  
    color: white;
}

.text {
    border: 3px solid darkblue;
    color: black;
}
