body {
    padding: 0px;
    margin: 0px;
    padding: 0px;
    font-family:sansation;
}

.container {
    position:relative;
    margin: 0px 15%;
        }
.options {
        
}
.options ul{
    background-color:#16;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px;
    width: 100%;
    overflow: hidden;
}
.options li {
   
    float: left;
    background-color:orangered;
}
.options li a {
    display: block;
    color: white;
    text-align:center;
    text-decoration: none;
    font-size: 20px;
    padding:10px;
    
}
.options li a:hover {
    background-color:brown;
}

.champion-selection {
    width: 24.5%;
    margin: 0.2%;
    position: relative;
    float:left;
    font-family: cursive;
}
.champion-selection img {
    height: 420px;
    width: auto;
    border-radius:5px;
    transition: 0.5s ease;
    margin:3px;
}

.champion-selection :not(img) {
    top: 30%;
    z-index:1;
    color: black;
    text-align:center;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    font-weight:bolder;
    
}
.champion-selection h1 {
    font-size: 40px;
}
.champion-selection h3 {
    top:50%;
}
.champion-selection:hover img{
    filter:blur(2px);
    opacity:0.6;
    box-shadow: 0 0 16px black;
}
.champion-selection:hover :not(img){
    opacity: 1;
}

footer {
    background-color: black;
    color: white;
    min-height: 100%;
    bottom:0;
}

.animate {
    border: 5px solid black;
    font-size: 30px;
   animation-duration: 5s;
            animation-name: slidein;
            animation-iteration-count:infinite;
            animation-direction:alternate;
            animation-timing-function: linear;
            position:absolute; 
}

        #start {
            background-color: white;
            color:black;
            border: 5px solid gold;
            margin: 100px 0px;
            text-align: center;
            font-size: 40px;
            
        }

@keyframes slidein {
    from {
        margin-left: 20%;
    }
    to {
        margin-left: 60%;
    }
}

#fizz {
    background-color: cornflowerblue;
    border: 6px solid darkblue;
    border-left: 10px solid dimgrey;
    margin-bottom: 30px;
    text-align:center;  
    color: white;
}

.text {
    border: 3px solid darkblue;
    color: black;
}
